<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/newroom">Create a room</a>
    <br>
    <form action="/joinroom" method="get">
        Join a room
        <br>
        <input type="text" name="roomid" id="roomid">
        <br>
        <button type="submit">Join</button>
    </form>
    

</body>
</html>